<div>
  <form action="/links" method="post">
  <input type="text" name="url" id="" />
  <input type="text" name="title" id="" />
  <input type="text" name="tags" />
  <input type="submit" value="Create Link" />
  </form>
</div>