<html>
  <body>

    <form action="/links" method="post">
      Link Title:<br>
      <input type="text" name="title" id="" />
      <br>
      URL:<br>
      <input type="text" name="url" id="" />
      <br>
      Tags:<br>
      <input type="text" name="tags"/>
      <br>
      <input type="submit" value="Create Link" />
    </form>
  </body>
</html>
